* {
  margin: 0; }

body {
  background-color: white; }

.highlightedWords {
  background-color: #14a0c7; }

header {
  background-image: url("../img/m-h-day.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Hind", sans-serif;
  color: #353749;
  border-bottom-right-radius: 22em 9em; }

main {
  font-family: "Source Sans Pro", sans-serif; }

.landing-logo {
  display: flex;
  line-height: 11px; }
  .landing-logo p span {
    text-align: center;
    display: block;
    font-size: 5px; }

.landing-logo p {
  margin-left: 8px;
  font-size: 10px;
  font-weight: 800; }
.landing-logo img {
  width: 22px;
  height: 22px; }

.header-wrap {
  padding: 10px 100px 90px 100px; }

.header_heading {
  font-size: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
  margin-top: 40px;
  width: 300px;
  line-height: 30px; }

.header_text {
  padding-top: 20px;
  font-size: 7px;
  white-space: pre-line;
  padding-left: 0; }

.header_button {
  margin-top: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  background-color: #699900;
  border: 1px solid #6b9c00;
  border-radius: 1px;
  font-size: 8px;
  color: white;
  width: 70px;
  height: 24px; }

.login {
  color: white;
  font-size: 10px;
  padding-left: 60px; }

.section {
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 35px; }

.section_text {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black; }

.section_card {
  margin-top: 15px;
  width: 485px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px 10px 10px;
  border-radius: 5px;
  display: flex; }

.section_card::after {
  content: "";
  clear: both;
  display: table; }

.section_card_right_container {
  text-align: bottom;
  position: relative; }

.section_card_heading {
  text-align: center;
  align-items: center;
  color: white;
  font-size: 12px;
  padding-top: 15px; }

.section_card_text {
  margin-top: 5%;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 14px;
  text-align: justify;
  align-items: center;
  font-size: 8px;
  color: #c2c2c2; }

.section_link {
  font-size: 7px;
  color: #c0c3ce;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.section_card_wrap :nth-child(1) img {
  height: 145px;
  width: auto;
  border-radius: 3px;
  padding-right: 40px; }
.section_card_wrap :nth-child(2) img {
  height: 140px;
  width: auto;
  border-radius: 3px;
  padding-right: 40px; }
.section_card_wrap :nth-child(3) img {
  height: 155px;
  width: auto;
  border-radius: 3px;
  padding-right: 40px; }

.section_banner {
  position: relative;
  display: flex;
  top: 73px;
  left: 50%;
  transform: translateX(-50%);
  width: 590px;
  background: linear-gradient(to right, #679708, #2e5cd6);
  border-radius: 5px; }

.section_banner_text_wrap {
  font-size: 14px;
  color: black;
  margin-right: 100px; }

.section_banner_button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  background-color: #699900;
  border: 1px solid #6b9c00;
  border-radius: 1px;
  font-size: 8px;
  color: white;
  width: 70px;
  height: 24px;
  margin: auto; }

.section_banner_heading {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding-top: 20px;
  margin-left: 70px; }

.section_banner_text {
  font-family: "Hind", sans-serif;
  font-size: 7px;
  margin-left: 70px;
  color: #c0c3ce;
  margin-top: 5px;
  margin-bottom: 20px; }

.footer, .section_card {
  font-family: "Hind", sans-serif;
  background-color: #21232e; }

.footer-wrap {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c0c3ce;
  font-size: 6.5px;
  padding-bottom: 30px; }

.footer_text {
  width: 140px;
  margin-left: 230px;
  margin-right: 230px; }
