$pageBackgroundColor: rgb(33,35,46);
$headerBackgroundImage: url("../img/m-h-night.jpg");
$fontFamilyText: 'Fresca', sans-serif;
$fontFamilyMain: 'Hind', sans-serif;
$fontFamilyTitle: 'Source Sans Pro', sans-serif;
$headerTextColor: white;
$selectionBGcolor: rgb(255, 78, 51);
$headerMargin: 10px 100px 90px 100px;
$sectionTextColor: white;
$buttonColor: rgb(227, 172, 0);
$buttonBorderColor: rgb(229, 175, 0);
$sectionCardColor: rgb(59,63,80);
$sectionBannerGradient: linear-gradient(to right, rgb(225, 169, 2), rgb(148, 46, 82));
$img-sizes: ("small": 140px, "normal": 145px, "large": 155px)