$headerBackgroundImage: url("../img/m-h-day.jpg");
$pageBackgroundColor: white;
$fontFamilyTitle: 'Source Sans Pro', sans-serif;
$fontFamilyMain: 'Hind', sans-serif;
$fontFamilyText: 'Hind', sans-serif;
$headerTextColor: #353749;
$selectionBGcolor: rgb(20, 160, 199);
$headerMargin: 10px 100px 90px 100px;
$sectionTextColor: black;
$buttonColor: rgb(105,153,0);
$buttonBorderColor: rgb(107,156,0);
$sectionCardColor: rgb(33,35,46);
$sectionBannerGradient: linear-gradient(to right, rgb(103, 151, 8), rgb(46, 92, 214));
$img-sizes: ("small": 140px, "normal": 145px, "large": 155px)