/* START: Task 1 Styles */
#task1 {
  display: flex;
  justify-content: center;
}
table, tr, td{
  border: 1px solid black;
  text-align: center;
}

table{
  background-color: white;
}

tr{
  height: 100px;
}

td{
  width: 100px;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
#task2 {
  margin-top: 40px;
}

#phoneContainer{
  display: flex;
  justify-content: center;
}

#inputPhoneNumber{
  box-sizing: border-box;
  height: 30px;
  width: 250px;
}

#inputBtn{
  border-radius: 6px;
  box-sizing: border-box;
  margin-left: 10px;
  width: 50px;
}

#validationText{
 display: none;
 border: 2px solid gray;
 color: white;
 padding: 5px 20px;
 margin: auto;
 margin-bottom: 15px;
 font-size: 13px;
 width: 310px;
 box-sizing: border-box;
}

input:active, :hover :focus{
  outline: 0;
  outline-offset: 0;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
#stadium{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#court{
  width: 600px;
  height: 330px;
  position: relative;
}

#ball{
  position: absolute;
  width: 40px;
  height: 40px;
}

#tablo{
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 590px;
  margin-top: 0px;
}

#teamA{
  margin-top: 0;
  align-self: start;
}

#teamB{
  margin-top: 0;
  align-self: flex-end;
  font-size: 14px;
}

#goalMassege{
  text-align: center;
  font-weight: 700;
}
/* END: Task 3 Styles */
